.greenButton
{
    -fx-background-color :   #43B581;
    -fx-background-radius :  20 20 20 20;
}
.greenButton:hover
{
    -fx-background-color : #69C49A ;
    -fx-background-radius :  20 20 20 20;
}
/*.buttonTrue:pressed*/
/*{*/
/*    -fx-background-color : #7E3E14 ;*/
/*    -fx-background-radius :  20 20 20 20;*/
/*}*/

.redButton
{
    -fx-background-color :  #F04747;
    -fx-background-radius :  20 20 20 20;
}
.redButton:hover
{
    -fx-background-color : #F26666;
    -fx-background-radius :  20 20 20 20;
}
/*.buttonFalse:pressed*/
/*{*/
/*    -fx-background-color : #7E3E14 ;*/
/*    -fx-background-radius :  20 20 20 20;*/
/*}*/

.blueButton
{
    -fx-background-color :  #8697D4;
    -fx-background-radius :  20 20 20 20;
}
.blueButton:hover
{
    -fx-background-color : #a4b1df;
    -fx-background-radius :  20 20 20 20;
}

.optionButton
{
    -fx-background-color :   #36393F;
}
.optionButton:hover
{
    -fx-background-color :  #40444B;
    -fx-background-radius :  10 10 10 10;
}